:root{
                --mycolor01: #8CA6B3;
                --mycolor02: #87C488;
                --mycolor03: #AA641E;
                --mycolor04: #284651;
                --mycolor05: #45451F;
                --mycolor06: #C2E6FF;
                --mycolor07: #F2F4EF;
                --mycolor08: #757430;

            }